h1 {
    border: 8px solid #000;
    font-family: "letter-gothic-std", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 4rem auto 2rem;
    max-width: 34rem;
    padding: 10px;
    position: relative;
}

body {
    font-family: "garamond-premier-pro", Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}